/* block color */
.bg_blue {
    background-color: #2C3E50;
}
.bg_green {
    background-color: #1ABC9C;
}

/* common rules */
img {
    height: 500px;
}

/* utilities */
.center {
    text-align: center;
}

/* text color */
.twhite {
    color: white;
}

/*****************
 header 
 *****************/
i {
    color: white;
    border: 1px solid white;
    border-radius: .3rem;
}
 header .row {
     justify-content: space-between;
 }

 /*****************
  main 
  *****************/
  