/* block color */
.bg_blue {
    background-color: #2C3E50;
}
.bg_green {
    background-color: #1ABC9C;
}
.bg_cyan {
    background-color: #3a546d;
}

/* text color */
.twhite {
    color: white;
}
.tblue {
    color: #2C3E50;
}
.tgreen {
    color: #1ABC9C;
}

/* common rules */
img {
    width: 100%;
    border-radius: 2rem;
}

/* utilities */
.center {
    text-align: center;
}

.line {
    letter-spacing: 0;
    position: relative;

}
.fa-star {
    position: relative;
    transform: translate(0, .8rem);
}

.border_super_bottom {
    padding-bottom: 10rem;
    border-bottom: 1px solid #cccccc;
}

.btn {
    border-radius: 1rem;
}

.social {
    border: 2px solid white;
    border-radius: 100%;
    width: 5rem;
    height: 4rem;
    padding: 0 1rem;
}

.middle {
    margin: 0 1rem;
}

/*****************
 header 
 *****************/
.hamburger {
    color: white;
    border: 1px solid white;
    border-radius: .3rem;
}
 header .row {
     justify-content: space-between;
 }

 /*****************
  main 
  *****************/
  #avatar {
      height: 500px;
  }

  .socials {
      display: flex;
      justify-content: space-between;
  }
  